<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!-- jQuery CDN -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

      <!-- Waypoints CDN -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.5/waypoints.min.js"></script>

      <!-- JavaScript file -->
      <script type="text/javascript" src="public/javascripts/main.js"></script>

      <!-- Bootstrap CDN -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

      <!-- CSS Link -->
      <link rel='stylesheet' href='/stylesheets/style.css'>

      <!-- Font Awesome -->
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">

      <!-- Adobe Fonts -->
      <link rel="stylesheet" href="https://use.typekit.net/bnd2knt.css">

      <!-- Google Fonts -->

  </head>
  <body>

      <!-- Panel 1 -->
      <div class="screen white">

        <div class="container hidden firstimage">
            <img src="images/escape.png" alt="ESCAPE" id="escapeimage">
        </div>

        <div class="container hidden downarrow" style="font-size:1.9em;">
             <i class="fa fa-chevron-down hvr-hang" aria-hidden="true"></i>
         </div>


      </div>

      <!-- Panel 2 -->
      <div class="screen white" id="trigger">

        <div class="container2"  id="target">

          <div class="buttonfall">
            <img src="images/b&cstick.png" alt="controller" id="controllerpart">
          </div>

        </div>

        <div class="container2"  id="target2">

          <div class="buttonfall">
            <img src="images/xbutton.png" alt="controller" id="controllerpart">
          </div>

        </div>

        <div class="container2"  id="target3">

          <div class="buttonfall">
            <img src="images/ybutton.png" alt="controller" id="controllerpart">
          </div>

        </div>

        <div class="container2"  id="target4">

          <div class="buttonfall">
            <img src="images/a&start.png" alt="controller" id="controllerpart">
          </div>

        </div>

        <div class="container2"  id="target5">

          <div class="buttonfall">
            <img src="images/joystick.png" alt="controller" id="controllerpart">
          </div>

        </div>

        <div class="container2"  id="target6">

          <div class="buttonfall">
            <img src="images/dpad.png" alt="controller" id="controllerpart">
          </div>

        </div>

        <div class="container2"  id="target7">

          <div class="buttonfall">
            <img src="images/xbutton.png" alt="controller" id="controllerpart">
          </div>

        </div>

        <div class="container2"  id="target8">

          <div class="buttonfall">
            <img src="images/joystick.png" alt="controller" id="controllerpart">
          </div>

        </div>

        <div class="container2"  id="target9">

          <div class="buttonfall">
            <img src="images/b&cstick.png" alt="controller" id="controllerpart">
          </div>

        </div>

        <div class="container2"  id="target10">

          <div class="buttonfall">
            <img src="images/dpad.png" alt="controller" id="controllerpart">
          </div>

        </div>

        <div class="container2"  id="target11">

          <div class="buttonfall">
            <img src="images/ybutton.png" alt="controller" id="controllerpart">
          </div>

        </div>

        <div class="container2"  id="target12">

          <div class="buttonfall">
            <img src="images/a&start.png" alt="controller" id="controllerpart">
          </div>

        </div>

        <div class="container2"  id="target13">

          <div class="buttonfall">
            <img src="images/joystick.png" alt="controller" id="controllerpart">
          </div>

        </div>

        <div class="container2"  id="target14">

          <div class="buttonfall">
            <img src="images/a&start.png" alt="controller" id="controllerpart">
          </div>

        </div>

        <div class="container2"  id="target15">

          <div class="buttonfall">
            <img src="images/ybutton.png" alt="controller" id="controllerpart">
          </div>

        </div>

        <div class="container2"  id="target16">

          <div class="buttonfall">
            <img src="images/dpad.png" alt="controller" id="controllerpart">
          </div>

        </div>

        <div class="container2"  id="target17">

          <div class="buttonfall">
            <img src="images/b&cstick.png" alt="controller" id="controllerpart">
          </div>

        </div>

        <div class="container2"  id="target18">

          <div class="buttonfall">

            <img src="images/xbutton.png" alt="controller" id="controllerpart">
          </div>

        </div>

        <div class="container2"  id="target19">

          <div class="buttonfall">
            <img src="images/dpad.png" alt="controller" id="controllerpart">
          </div>

        </div>

        <div class="container2"  id="target20">

          <div class="buttonfall">
            <img src="images/b&cstick.png" alt="controller" id="controllerpart">
          </div>

        </div>

        <div class="container2"  id="target21">

          <div class="buttonfall">
            <img src="images/ybutton.png" alt="controller" id="controllerpart">
          </div>

        </div>

        <div class="container2"  id="target22">

          <div class="buttonfall">
            <img src="images/joystick.png" alt="controller" id="controllerpart">
          </div>

        </div>

        <div class="container2"  id="target23">

          <div class="buttonfall">

            <img src="images/xbutton.png" alt="controller" id="controllerpart">
          </div>

        </div>

        <div class="container2"  id="target24">

          <div class="buttonfall">
            <img src="images/a&start.png" alt="controller" id="controllerpart">
          </div>

        </div>

        <div class="container2"  id="target25">

          <div class="buttonfall">
            <img src="images/joystick.png" alt="controller" id="controllerpart">
          </div>

        </div>

        <div class="container2"  id="target26">

          <div class="buttonfall">
            <img src="images/xbutton.png" alt="controller" id="controllerpart">
          </div>

        </div>

        <div class="container2"  id="target27">

          <div class="buttonfall">
            <img src="images/ybutton.png" alt="controller" id="controllerpart">
          </div>

        </div>

        <div class="container2"  id="target28">

          <div class="buttonfall">
            <img src="images/dpad.png" alt="controller" id="controllerpart">
          </div>

        </div>

        <div class="container2"  id="target29">

          <div class="buttonfall">
            <img src="images/b&cstick.png" alt="controller" id="controllerpart">
          </div>

        </div>

        <div class="container2"  id="target30">

          <div class="buttonfall">
            <img src="images/a&start.png" alt="controller" id="controllerpart">
          </div>

        </div>

      </div>

      <!-- Panel 3 -->
      <div class="screen lightgrey" id="p3trigger">

        <div class="fate">

          <p>You've been met with a terrible fate, haven't you?</p>

        </div>

        <div class="dekuwrapper">

          <img src="images/dekuscrub.png" alt="Deku Scrub" id="deku">

        </div>

      </div>

      <!-- Panel 4 -->
      <div class="green panel4" id="p4trigger">

        <div class="heartwrapper">

        <div class="heart1">
          <img src="images/heart1.png" alt="Heart" id="heart1">
        </div>

        <div class="heart2">
          <img src="images/heart1.png" alt="Heart" id="heart2">
        </div>

        <div class="heart3">
          <img src="images/heart2.png" alt="Heart" id="heart3">
        </div>

        </div>

        <div class="pause">
          <p>Wouldn't it be great, if we could just press pause?</p>
          <p>A pause on life.</p>
        </div>



      </div>

      <!-- Panel 5 -->
      <div class="green panel5" id="p5trigger">

        <div class="panel5wrapper">

          <div class="holdingcontroller">
            <img src="images/holding-controller.png" alt="Holding GC Controller" class="" id="holdingcontrollerimage">
          </div>

          <div class="play">
            <p>And that starts by pressing play.</p>
          </div>

        </div>

      </div>

      <!-- Panel 6 -->
      <div class="darkgrey panel6" id="p6trigger">


        <div class="panel6wrapper">

          <div class="panel6images">

            <div class="">
              <img src="images/playing-sunshine.png" alt="" id="playingsunshine">
            </div>

            <div class="panel6text">

              <div class="nothing">
                <p>Nothing can get to us.</p>
              </div>

              <div class="escaped">
                <p>We have escaped.</p>
              </div>

            </div>

            <div class="">
              <img src="images/sunshine-on-screen.png" alt="" id="screensunshine">
            </div>

          </div>



        <!-- May need another div for cord(s) -->

        </div>

      </div>

      <!-- Panel 7 -->
      <div class="red panel7" id="p7trigger">

        <div class="panel7wrapper">

          <div class="panel7image">

            <img src="images/controller.png" alt="Controller" id="controllerimage">

          </div>

          <div class="panel7text">

            <div class="cantpause">
              <p>We can't always press pause.</p>
            </div>

            <div class="life">
              <p>Because when we do, life still moves on.</p>
            </div>

          </div>


        </div>

      </div>

      <!-- Panel 8 -->
      <div class="red panel8" id="p8trigger">

        <div class="panel8wrapper">

          <div class="can">
            <p>We can fall behind.</p>
          </div>

          <div class="playingwindwaker">
            <img src="images/playing-windwaker.png" alt="" id="playingwindwakerimage">
          </div>

          <div class="dont">
              <p>Don't fall behind.</p>
          </div>

        </div>

      </div>

       <!-- Panel 9 -->
      <div class="purple panel9" id="p9trigger">

        <div class="panel9wrapper">

          <div class="gamecube">
            <img src="images/gamecube-outline.png" alt="" id="gamecubeimage">

            <div class="paradox">
              <p>A paradox is created. We need a break.</p>
            </div>

          </div>

          <div class="chaincontroller">
            <img src="images/chained-controller.png" alt="" id="chaincontrollerimage">
          </div>


        </div>

      </div>

      <!-- Panel 10 -->
      <div class="purple panel10" id="p10trigger">

        <div class="panel10wrapper">

          <div class="have">
            <p>But we don't have the time.</p>
          </div>

          <div class="majora">
            <img src="images/majoras-mask.png" alt="" id="majoraimage">
          </div>

          <div class="seem">
            <p>We never seem to have the time.</p>
          </div>



        </div>

      </div>

      <!-- Panel 11 -->
      <div class="yellow panel11" id="p11trigger">
        <div class="panel11wrapper">

          <div class="reality">
            <p>All I want is to escape this reality.</p>
          </div>

          <div class="gcfront">
            <img src="images/gamecube-plugged-in.png" alt="" id="gcfrontimage">
          </div>



        </div>
      </div>

      <!-- Panel 12 -->
      <div class="yellow panel12" id="p12trigger">

        <div class="panel12wrapper">

          <div class="link">

            <img src="images/young-link.png" alt="Young Link" id="linkimage">

          </div>

          <div class="world">

            <p>Escape into the worlds I've grown up with. The ones that never change.</p>

          </div>

        </div>

      </div>

      <!-- End Panel(s) -->
      <div class="white panelword" id="p13trigger">

        <div class="wordwrapper">

          <div class="playtitle">
            <h1>PLAY</h1>
          </div>

        </div>

      </div>

      <div class="white panelword" id="p13trigger">

        <div class="wordwrapper">

          <div class="pausetitle">
            <h1>PAUSE</h1>
          </div>

        </div>

      </div>

      <div class="white panelword" id="p13trigger">

        <div class="wordwrapper">

          <div class="paradoxtitle">
            <h1>PARADOX</h1>
          </div>

        </div>

      </div>

      <div class="white panelword" id="p13trigger">

        <div class="wordwrapper">

          <div class="realitytitle">
            <h1>REALITY</h1>
          </div>

        </div>

      </div>

      <div class="white panelword" id="p13trigger">

        <div class="wordwrapper">

          <div class="escapetitle">
            <h1>ESCAPE</h1>
          </div>

        </div>

      </div>

      <!-- End Panel -->
      <div class="white endpanel" id="endtrigger">

        <div class="endpanelwrapper">

          <img src="images/escape.png" alt="" id="escapeimage">

        </div>

        <div class="endfooter">

          <p id="endleft">Copyright Josh Passon & Addison Schultz &copy; 2018</p>

          <p id="endright">Made out of interest and love</p>

        </div>

      </div>





<script type="text/javascript" src="/javascripts/main.js"></script>

<!-- Bootstrap.js, Proper.js, jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

<!-- Waypoints CDN -->
<script src="javascripts/jquery.waypoints.min.js"></script>

<!-- ScrollMagic Link -->
<script type="text/javascript" src="/javascripts/ScrollMagic/scrollmagic/uncompressed/ScrollMagic.js"></script>

<!-- ScrollMagic.js CDN -->
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>

<!-- TweenMax CDN -->
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.0/TweenMax.min.js"></script>

<script type="text/javascript" src="/javascripts/ScrollMagic/scrollmagic/uncompressed/plugins/animation.gsap.js"></script>




<!-- Animations for Panel 1 -->
<script type="text/javascript">
  $( document ).ready(function(){
        $(".firstimage").fadeIn(4000).removeClass('hidden');

        $(".downarrow").fadeIn(7000).removeClass('hidden');
});
</script>


<!-- Animations for Panel 2 -->
<!-- ScrollMagic.io -->
<script>
	$(function () { // wait for document ready
		// init controller
		var controller = new ScrollMagic.Controller();

		// build tween
		var tween = [
      TweenMax.to("#target", 1, {rotation: 360, ease: Linear.easeNone}),
      TweenMax.to("#target2", 1, {rotation: 360, ease: Linear.easeNone}),
      TweenMax.to("#target3", 1, {rotation: 360, ease: Linear.easeNone}),
      TweenMax.to("#target4", 1, {rotation: 360, ease: Linear.easeNone}),
      TweenMax.to("#target5", 1, {rotation: 360, ease: Linear.easeNone}),
      TweenMax.to("#target6", 1, {rotation: 360, ease: Linear.easeNone}),
      TweenMax.to("#target7", 1, {rotation: 360, ease: Linear.easeNone}),
      TweenMax.to("#target8", 1, {rotation: 360, ease: Linear.easeNone}),
      TweenMax.to("#target9", 1, {rotation: 360, ease: Linear.easeNone}),
      TweenMax.to("#target10", 1, {rotation: 360, ease: Linear.easeNone}),
      TweenMax.to("#target11", 1, {rotation: 360, ease: Linear.easeNone}),
      TweenMax.to("#target12", 1, {rotation: 360, ease: Linear.easeNone}),
      TweenMax.to("#target13", 1, {rotation: 360, ease: Linear.easeNone}),
      TweenMax.to("#target14", 1, {rotation: 360, ease: Linear.easeNone}),
      TweenMax.to("#target15", 1, {rotation: 360, ease: Linear.easeNone}),
      TweenMax.to("#target16", 1, {rotation: 360, ease: Linear.easeNone}),
      TweenMax.to("#target17", 1, {rotation: 360, ease: Linear.easeNone}),
      TweenMax.to("#target18", 1, {rotation: 360, ease: Linear.easeNone}),
      TweenMax.to("#target19", 1, {rotation: 360, ease: Linear.easeNone}),
      TweenMax.to("#target20", 1, {rotation: 360, ease: Linear.easeNone}),
      TweenMax.to("#target21", 1, {rotation: 360, ease: Linear.easeNone}),
      TweenMax.to("#target22", 1, {rotation: 360, ease: Linear.easeNone}),
      TweenMax.to("#target23", 1, {rotation: 360, ease: Linear.easeNone}),
      TweenMax.to("#target24", 1, {rotation: 360, ease: Linear.easeNone}),
      TweenMax.to("#target25", 1, {rotation: 360, ease: Linear.easeNone}),
      TweenMax.to("#target26", 1, {rotation: 360, ease: Linear.easeNone}),
      TweenMax.to("#target27", 1, {rotation: 360, ease: Linear.easeNone}),
      TweenMax.to("#target28", 1, {rotation: 360, ease: Linear.easeNone}),
      TweenMax.to("#target29", 1, {rotation: 360, ease: Linear.easeNone}),
      TweenMax.to("#target30", 1, {rotation: 360, ease: Linear.easeNone})

    ]

		// build scene
		var scene = new ScrollMagic.Scene({triggerElement: "#trigger", duration: 1500, triggerHook:1})
						.setTween(tween)
						// .setPin("#target", {pushFollowers: false})

            // REMOVE WHEN DONE DEVELOPING
						// .addIndicators() // add indicators (requires plugin)

						.addTo(controller);

	});
</script>


<!-- Animations for Panel 3 -->
<script type="text/javascript">
  var waypoint = new Waypoint({

    element: document.getElementById('p3trigger'),

    handler: function() {

      $(".dekuwrapper").addClass('dekuanimate');
      $(".fate").addClass('fateanimate');
  }
  })
</script>


<!-- Animations for Panel 4 -->
<script type="text/javascript">
var heart1 = new Waypoint({

  element: document.getElementById('p4trigger'),

  handler: function() {

    $(".heart1").addClass('heartanimate');

  }
})
</script>

<script type="text/javascript">
var heart2 = new Waypoint({

  element: document.getElementById('p4trigger'),

  handler: function() {

    $(".heart2").addClass('heartanimate');

  },
  offset: -2000
})
</script>

<script type="text/javascript">
var heart3 = new Waypoint({

  element: document.getElementById('p4trigger'),

  handler: function() {

    $(".heart3").addClass('heartanimate');

  },
  offset: -4000
})
</script>

<script type="text/javascript">
var panel4end = new Waypoint({

  element: document.getElementById('p4trigger'),

  handler: function() {

    $(".heartwrapper").addClass('p4endanimate');

  },
  offset: -6000
})
</script>

<script type="text/javascript">
var panel4end = new Waypoint({

  element: document.getElementById('p4trigger'),

  handler: function() {

    $(".pause").addClass('p4endanimate');

  },
  offset: -6000
})
</script>


<!-- Animations for Panel 5 -->
<script type="text/javascript">
var play = new Waypoint({

  element: document.getElementById('p5trigger'),

  handler: function() {

    $(".play").addClass('playanimate');

  },
  offset: -2000
})
</script>

<script type="text/javascript">
var panel5end = new Waypoint({

  element: document.getElementById('p5trigger'),

  handler: function() {

    $(".panel5wrapper").addClass('p5endanimate');

  },
  offset: -7000
})
</script>


<!-- Animations for Panel 6 -->
<script type="text/javascript">
var play = new Waypoint({

  element: document.getElementById('p6trigger'),

  handler: function() {

    $(".panel6text").addClass('p6textanimate');

  },
  offset: -2000
})
</script>


<!-- Animations for Panel 7 -->
<script type="text/javascript">
var panel7 = new Waypoint({

  element: document.getElementById('p7trigger'),

  handler: function() {

    $(".panel7image").addClass('panel7imageanimate');

  },
  offset: -1000
})
</script>

<script type="text/javascript">
var panel7end = new Waypoint({

  element: document.getElementById('p7trigger'),

  handler: function() {

    $(".panel7wrapper").addClass('panel7endanimate');

  },
  offset: -6000
})
</script>

<!-- Animations for Panel 8 -->
<script type="text/javascript">
var panel8end = new Waypoint({

  element: document.getElementById('p8trigger'),

  handler: function() {

    $(".panel8wrapper").addClass('panel8endanimate');

  },
  offset: -3000
})
</script>


<!-- Animations for Panel 9 -->
<script type="text/javascript">
var paradoxanimation = new Waypoint({

  element: document.getElementById('p9trigger'),

  handler: function() {

    $(".paradox").addClass('paradoxanimation');

  }
})
</script>
<script type="text/javascript">
var chainanimation = new Waypoint({

  element: document.getElementById('p9trigger'),

  handler: function() {

    $(".chaincontroller").addClass('chaincontrolleranimate');

  },
  offset: -1000
})
</script>
<script type="text/javascript">
$(function(){
  $("#gamecubeimage").on({
    mouseenter: function(){
      $(this).attr('src','images/gamecube-fill.png');
      $(this).attr('style', 'margin-left:98px;');
    },

    mouseleave: function(){
      $(this).attr('src','images/gamecube-outline.png');
      $(this).attr('style', '');
    }
  });
});
</script>
<script type="text/javascript">
var panel9end = new Waypoint({

  element: document.getElementById('p9trigger'),

  handler: function() {

    $(".panel9wrapper").addClass('panel9endanimate');

  },
  offset: -6000
})
</script>


<!-- Animations for Panel 10 -->
<script type="text/javascript">
var have = new Waypoint({

  element: document.getElementById('p10trigger'),

  handler: function() {

    $(".have").addClass('haveanimate');

  },
  offset: -2000
})
</script>
<script type="text/javascript">
var seem = new Waypoint({

  element: document.getElementById('p10trigger'),

  handler: function() {

    $(".seem").addClass('seemanimate');

  },
  offset: -2000
})
</script>
<script type="text/javascript">
var panel10end = new Waypoint({

  element: document.getElementById('p10trigger'),

  handler: function() {

    $(".panel10wrapper").addClass('panel10endanimate');

  },
  offset: -6000
})
</script>


<!-- Animations for Panel 11 -->
<script type="text/javascript">
var reality = new Waypoint({

  element: document.getElementById('p11trigger'),

  handler: function() {

    $(".reality").addClass('realityanimate');

  },
  offset: -2000
})
</script>
<script type="text/javascript">
var panel11end = new Waypoint({

  element: document.getElementById('p11trigger'),

  handler: function() {

    $(".panel11wrapper").addClass('panel11endanimate');

  },
  offset: -4000
})
</script>


<!-- Animations for Panel 12 -->
<script type="text/javascript">
var world = new Waypoint({

  element: document.getElementById('p12trigger'),

  handler: function() {

    $(".world").addClass('worldanimate');

  },
  offset: -1000
})
</script>
<script type="text/javascript">
var panel12end = new Waypoint({

  element: document.getElementById('p12trigger'),

  handler: function() {

    $(".panel12wrapper").addClass('panel12endanimate');

  },
  offset: -4000
})
</script>

<!-- Animations for the End Panel -->
<script type="text/javascript">
var end = new Waypoint({

  element: document.getElementById('endtrigger'),

  handler: function() {

    $(".endpanelwrapper").addClass('endanimate');

  }
})
</script>



<!-- ScrollMagic.io Natural Panel Wipe -->
<script>
$(function () { // wait for document ready
  // init
  var controller = new ScrollMagic.Controller({
    globalSceneOptions: {
      triggerHook: 'onLeave'
    }
  });

  // get all slides
  var slides = document.querySelectorAll("div.screen");

  // create scene for every slide
  for (var i=0; i<slides.length; i++) {
    new ScrollMagic.Scene({
        triggerElement: slides[i]
      })
      .setPin(slides[i])

      // REMOVE WHEN DONE DEVELOPING
      // .addIndicators() // add indicators (requires plugin)

      .addTo(controller);
  }


});
</script>
<!-- Panel 4 Swipe -->
<script>
$(function () { // wait for document ready
  // init
  var controller = new ScrollMagic.Controller({
    globalSceneOptions: {
      triggerHook: 'onLeave'
    }
  });

  // get all slides
  var slides = document.querySelectorAll("div.panel4");

  // create scene for every slide
  for (var i=0; i<slides.length; i++) {
    new ScrollMagic.Scene({
        triggerElement: slides[i]
      })
      .setPin(slides[i])

      // REMOVE WHEN DONE DEVELOPING
      // .addIndicators() // add indicators (requires plugin)

      .addTo(controller);
  }


});
</script>
<!-- Panel 5 Swipe -->
<script>
$(function () { // wait for document ready
  // init
  var controller = new ScrollMagic.Controller({
    globalSceneOptions: {
      triggerHook: 'onLeave'
    }
  });

  // get all slides
  var slides = document.querySelectorAll("div.panel5");

  // create scene for every slide
  for (var i=0; i<slides.length; i++) {
    new ScrollMagic.Scene({
        triggerElement: slides[i]
      })
      .setPin(slides[i])

      // REMOVE WHEN DONE DEVELOPING
      // .addIndicators() // add indicators (requires plugin)

      .addTo(controller);
  }


});
</script>
<!-- Panel 6 Swipe -->
<script>
$(function () { // wait for document ready
  // init
  var controller = new ScrollMagic.Controller({
    globalSceneOptions: {
      triggerHook: 'onLeave'
    }
  });

  // get all slides
  var slides = document.querySelectorAll("div.panel6");

  // create scene for every slide
  for (var i=0; i<slides.length; i++) {
    new ScrollMagic.Scene({
        triggerElement: slides[i]
      })
      .setPin(slides[i])

      // REMOVE WHEN DONE DEVELOPING
      // .addIndicators() // add indicators (requires plugin)

      .addTo(controller);
  }


});
</script>
<!-- Panel 7 Swipe -->
<script>
$(function () { // wait for document ready
  // init
  var controller = new ScrollMagic.Controller({
    globalSceneOptions: {
      triggerHook: 'onLeave'
    }
  });

  // get all slides
  var slides = document.querySelectorAll("div.panel7");

  // create scene for every slide
  for (var i=0; i<slides.length; i++) {
    new ScrollMagic.Scene({
        triggerElement: slides[i]
      })
      .setPin(slides[i])

      // REMOVE WHEN DONE DEVELOPING
      // .addIndicators() // add indicators (requires plugin)

      .addTo(controller);
  }


});
</script>
<!-- Panel 8 Swipe -->
<script>
$(function () { // wait for document ready
  // init
  var controller = new ScrollMagic.Controller({
    globalSceneOptions: {
      triggerHook: 'onLeave'
    }
  });

  // get all slides
  var slides = document.querySelectorAll("div.panel8");

  // create scene for every slide
  for (var i=0; i<slides.length; i++) {
    new ScrollMagic.Scene({
        triggerElement: slides[i]
      })
      .setPin(slides[i])

      // REMOVE WHEN DONE DEVELOPING
      // .addIndicators() // add indicators (requires plugin)

      .addTo(controller);
  }


});
</script>
<!-- Panel 9 Swipe -->
<script>
$(function () { // wait for document ready
  // init
  var controller = new ScrollMagic.Controller({
    globalSceneOptions: {
      triggerHook: 'onLeave'
    }
  });

  // get all slides
  var slides = document.querySelectorAll("div.panel9");

  // create scene for every slide
  for (var i=0; i<slides.length; i++) {
    new ScrollMagic.Scene({
        triggerElement: slides[i]
      })
      .setPin(slides[i])

      // REMOVE WHEN DONE DEVELOPING
      // .addIndicators() // add indicators (requires plugin)

      .addTo(controller);
  }


});
</script>
<!-- Panel 10 Swipe -->
<script>
$(function () { // wait for document ready
  // init
  var controller = new ScrollMagic.Controller({
    globalSceneOptions: {
      triggerHook: 'onLeave'
    }
  });

  // get all slides
  var slides = document.querySelectorAll("div.panel10");

  // create scene for every slide
  for (var i=0; i<slides.length; i++) {
    new ScrollMagic.Scene({
        triggerElement: slides[i]
      })
      .setPin(slides[i])

      // REMOVE WHEN DONE DEVELOPING
      // .addIndicators() // add indicators (requires plugin)

      .addTo(controller);
  }


});
</script>
<!-- Panel 11 Swipe -->
<script>
$(function () { // wait for document ready
  // init
  var controller = new ScrollMagic.Controller({
    globalSceneOptions: {
      triggerHook: 'onLeave'
    }
  });

  // get all slides
  var slides = document.querySelectorAll("div.panel11");

  // create scene for every slide
  for (var i=0; i<slides.length; i++) {
    new ScrollMagic.Scene({
        triggerElement: slides[i]
      })
      .setPin(slides[i])

      // REMOVE WHEN DONE DEVELOPING
      // .addIndicators() // add indicators (requires plugin)

      .addTo(controller);
  }


});
</script>
<!-- Panel 12 Swipe -->
<script>
$(function () { // wait for document ready
  // init
  var controller = new ScrollMagic.Controller({
    globalSceneOptions: {
      triggerHook: 'onLeave'
    }
  });

  // get all slides
  var slides = document.querySelectorAll("div.panel12");

  // create scene for every slide
  for (var i=0; i<slides.length; i++) {
    new ScrollMagic.Scene({
        triggerElement: slides[i]
      })
      .setPin(slides[i])

      // REMOVE WHEN DONE DEVELOPING
      // .addIndicators() // add indicators (requires plugin)

      .addTo(controller);
  }


});
</script>
<!-- Panel Word Swipe -->
<script>
$(function () { // wait for document ready
  // init
  var controller = new ScrollMagic.Controller({
    globalSceneOptions: {
      triggerHook: 'onLeave'
    }
  });

  // get all slides
  var slides = document.querySelectorAll("div.panelword");

  // create scene for every slide
  for (var i=0; i<slides.length; i++) {
    new ScrollMagic.Scene({
        triggerElement: slides[i]
      })
      .setPin(slides[i])

      // REMOVE WHEN DONE DEVELOPING
      // .addIndicators() // add indicators (requires plugin)

      .addTo(controller);
  }


});
</script>
<!-- End Panel Swipe -->
<script>
$(function () { // wait for document ready
  // init
  var controller = new ScrollMagic.Controller({
    globalSceneOptions: {
      triggerHook: 'onLeave'
    }
  });

  // get all slides
  var slides = document.querySelectorAll("div.endpanel");

  // create scene for every slide
  for (var i=0; i<slides.length; i++) {
    new ScrollMagic.Scene({
        triggerElement: slides[i]
      })
      .setPin(slides[i])

      // REMOVE WHEN DONE DEVELOPING
      // .addIndicators() // add indicators (requires plugin)

      .addTo(controller);
  }


});
</script>

  </body>
</html>
