/* Color Scheme */

/* Import Fonts */
@font-face {
font-family: "";
src: url("");
}

@font-face {
font-family: "";
src: url("");
}

* {
  font-family: "futura-pt", sans-serif;
  font-style: italic;
  font-weight: 400;
}

html, body {

height: 100%;

padding: 0;

margin: 0;

}

h1 {}

p {}

hr {}

a {}

a:hover {}

a:visited {}

.screen {
  height:100%;
  width:100%;
}

.white {
  background-color: #ffffff;
}

.lightgrey {
  background-color: #f6f5f4;
}

.green {
  background-color: #22a27b;
}

.darkgrey {
  background-color: #959595;
}

.red {
  background-color: #da4d36;
}

.yellow {
  background-color: #fdc529;
}

.purple {
  background-color: #6855bd;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}
